<!-- Achievements -->
<section id="achievements" class="five">
  <div class="container">

    <header>
      <h2>Achievements</h2>
{{!--       <p>Updates Realtime</p> --}}
    </header>
    
    <div class="achievement-container">

      <div class="achievement achievement-{{achievements.hoarder}}">
        <h4>Hoarder</h4>
        <p>Gather more than 40 items</p>
      </div>

      <div class="achievement achievement-{{achievements.needle}}">
        <h4>Needle in a Haystack</h4>
        <p>Find the Cha-Ching wand</p>
      </div>

      <div class="achievement achievement-{{achievements.quantity}}">
        <h4>Quantity Overload</h4>
        <p>Pick up more than 1 of the same item</p>
      </div>

      <div class="achievement achievement-{{achievements.collection}}">
        <h4>4 Wands to Rule Them All</h4>
        <p>Collect 4 of the most special wands</p>
      </div>

      <div class="achievement achievement-{{achievements.ultimate}}">
        <h4>Ultimate Collector</h4>
        <p>Get every single item in the game</p>
      </div>

    </div>
   
  </div>
</section>