<!-- Mini-game -->
<section id="minigame" class="four">
  <div class="container">

    <header>
      <h2>Mini-game</h2>
    </header>

    <h4 class="achievement-{{hoarder}}">Hoarder</h4>
    <p>Gather more than 40 items</p>

    <h4 class="achievement-{{needle}}">Needle in a Haystack</h4>
    <p>Find the [ name of super rare item ]</p>

    <h4 class="achievement-{{quantity}}">Quantity Overload</h4>
    <p>Pick up more than [ 1 ] of the same item</p>

    <h4 class="achievement-{{collection}}">[ pun about a related collection of items ]</h4>
    <p>Collect [ a baseball, bat, and catcher’s mitt ]</p>

    <h4 class="achievement-{{ultimate}}">Ultimate Collector</h4>
    <p>Get every single item in the game</p>

  </div>
</section>